<!-- Header section with an ID of 'top-header' and a class of 'top-header' -->
<header id="top-header" class="top-header">
  <!-- Site name section -->
  <span class="siteName">
    <!-- Link to the home page -->
    <a href="/" title="Return to home page" class="home-link">CSE Motors</a>
  </span>
  <!-- Tools section for account management -->
  <div id="tools">
    <!-- Check if the user is logged in -->
    <% if (locals.loggedin) { %>
    <!-- If logged in, display welcome message with user's first name -->
    <a
      title="Account Management"
      href="/account/"
      class="tools-link p-font"
      id="welcomeLink"
      >Welcome <%= locals.accountData.account_firstname %></a
    >
    <!-- Link to log out -->
    <a
      title="Click to log out"
      href="/account/logout"
      class="tools-link logout p-font"
      id="logoutLink"
      >Logout</a
    >
    <% } else { %>
    <!-- If not logged in, display link to log in -->
    <a
      title="Click to log in"
      href="/account/login"
      class="tools-link p-font"
      id="accountLink"
      >My Account</a
    >
    <% } %>
  </div>
</header>